@model IEnumerable<StarCitizenTradingApp.Models.LoopVM>
@{
    ViewBag.Title = "LoopList";
}

    <h2>Result - Top 3 loops by profit</h2>

@foreach (var loop in Model)
 {
    <div class="col-md-12">
        @foreach (var route in loop.Routes)
         {
            <div class="col-md-4">
                @Html.Partial("ResultPartial", route)
            </div>
         }
        <div class="col-md-12"><strong>Total profit:  </strong><span>@loop.Profit</span></div>        
    </div>
    
 }

<div class="col-sm-12">
    @Html.ActionLink("Back", "Index", "Home")
</div>