@model IEnumerable<StarCitizenTradingApp.Models.RouteVM>

@{
    ViewBag.Title = "Result";
}

<h2>Result - Top 3 routes by profit</h2>

@foreach (var route in Model)
{
    <div>
        @Html.Partial("ResultPartial", route)
    </div>
}

<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>
